<p><strong>110 West Berry, Suite 700<br>
  Fort Wayne, IN 46802<br>
  (260) 420-3729</strong></p>
<p>Located on the 7th floor of the PNC Bank tower, Erv's cafe sits within easy walking distance of downtown Fort Wayne. You can use the main building entrance on W Berry or the parking garage entrance off Calhoun.</p>

<p>After entering the building, take one of the elevators to the 7th floor. You'll head down the hallway to your left and find us midway down the hall on the right.</p>

<iframe width="562" height="614" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=128+West+Berry+Street,+Fort+Wayne,+IN&amp;sll=41.079249,-85.139892&amp;sspn=0.007643,0.008272&amp;ie=UTF8&amp;hq=&amp;hnear=128+W+Berry+St,+Fort+Wayne,+Allen,+Indiana+46802&amp;layer=c&amp;cbll=41.0792,-85.140124&amp;panoid=cEOzdgxd-_x9g1Lw7bTauA&amp;cbp=11,4.53,,0,-12.28&amp;ll=41.079222,-85.140095&amp;spn=0.008896,0.030041&amp;z=15&amp;output=svembed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=128+West+Berry+Street,+Fort+Wayne,+IN&amp;sll=41.079249,-85.139892&amp;sspn=0.007643,0.008272&amp;ie=UTF8&amp;hq=&amp;hnear=128+W+Berry+St,+Fort+Wayne,+Allen,+Indiana+46802&amp;layer=c&amp;cbll=41.0792,-85.140124&amp;panoid=cEOzdgxd-_x9g1Lw7bTauA&amp;cbp=11,4.53,,0,-12.28&amp;ll=41.079222,-85.140095&amp;spn=0.008896,0.030041&amp;z=15" style="color:#0000FF;text-align:left">View Larger Map</a></small>