
<p>We offer a full breakfast and lunch menu. Chef Kevin's creative mind adds new items all the time, so be sure to ask about his latest creations!</p>

<p><a href="/assets/menu.pdf">Download a printable menu</a></p>

<h2>New smoothies</h2>

<p>Enjoy a refreshing smoothie to chill the summer heat!</p>

<div style="float:left; margin: 10px; width: 260px;">
  <h3>Strawberry Almond</h3>
  <img width="260" src="/images/strawberry-almond.jpg" />
</div>

<div style="float:left; margin: 10px; width: 260px;">
  <h3>Blueberry Flaxseed</h3>
  <img width="260" src="/images/blueberry-flaxseed.jpg" />
</div>

<div style="float:left; margin: 10px; width: 260px;">
  <h3>Banana Walnut</h3>
</div>

<div style="float:left; margin: 10px; width: 260px;">
  <h3>Vanilla Peach</h3>
</div>
